/.vs
/Library
/Logs
/obj
/UnityPackageManager
/Assembly-CSharp.csproj
/DockerRos2UnityCar.sln
/saiche01.sln

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

*.apk
*.unitypackage

.vs/
.vscode/